body{
    margin: 0px;
    padding:0px;
    height:120%;
}
.main{
    width:100%;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;
    overflow: hidden;
}
.body1{
   
    height: 100%;
    width:50%;
    background-color: whitesmoke;
    position: absolute;
    top:0px;
    left:0px;
}
.title{
    
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    font-weight: bolder;
    position: absolute;
    top:35%;
    left:50px;
}
.description{
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-align: justify;
    position: absolute;
    top: 65%;
    left: 50px;
}
.img1,
.img2,
.img3{
    width: 450px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.img2,
.img3{
    top:150%;
}
.box2{
    height: 100%;
    width: 50%;
    position: absolute;
    top:0px;
    left: 50%;
}
.colorbox1, 
.colorbox2, 
.colorbox3{
    height: 100%;
    width: 100%;
    background-color: #e64b42;
    position: absolute;
    top: 0px;
    left: 0px;
}
.colorbox2{
    background-color: #f89a44;
    top: 100%;
}
.colorbox3{
    background-color: #c4f0e3;
    top:100%;
}
.info{
    width: 250px;
    height: 450px;
    position: absolute;
    top: 20%;
    left:45%;
    overflow: hidden;
}
.red_info, .orange_info,
.green_info
{
    position: absolute;
}


.orange_info,
.green_info{

   top: 100px;
 
}
.detail{
    margin-top: 20px;
}
.label, .des{

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#222;
    letter-spacing:2px;
}
.des{

    font-size: 12px;
}
.circle{
    width: 28px;
    height: 28px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color: #222;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin-left: 10px;
    border: 2px solid #222;
}
.price{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color:#222;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color:#222;
    text-align: center;     
    line-height: 30px;
    position: relative;
    top: 20px;
    left: 20%;
    line-height: 30px;
    border-radius: 30px;
    position: relative;
    top:20px;
}


