body{
    background-image:url('img.s7.jpg');
    background-repeat:no-repeat ;
    background-size:cover ;
}
div{
    display:flex;
    justify-content: center;
}
button{
    height: 50px;
    width: 50px;
    margin: 10px;
}
