@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.menu{
  background-color: rgba(0,0,0,.5);
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  width: 100%;
}

 ul li {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  text-decoration: none; 
  list-style-type:none ;
}

ul li a{
  color:#ffffff;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* text-shadow: 1px 1px rgba(0,0,0,0.7); */
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
}

nav ul li a{
  color:rgb(144,28,64);
  text-transform: uppercase;
  font-weight: 500;
  font-size:15px;
}

ul li a:hover{
  color:#ffffff;
  font-weight: 400;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3b3b;
}

.dropbtn {
  background-color: rgba(255,255,255,.0)!important;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #990000;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

h2{
  /* font-family: 'Fira Sans',sans-serif; */
  font-weight: 200;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0em;
}
div,img.parallax{
  background-attachment: fixed!important;
}
select{
  height: 100%;
}

#financial{
  height: 320px;
  background: rgb(37, 37, 37);
}

.whatsapp{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.area-cliente{
  border:2px solid rgba(255,255,255,0.7);
  padding: 5px 10px;
  font-size: 14px;
  color:#ffffff;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  -webkit-font-smoothing: antialiased;
}

.central-vendas, .central-telefone{
  color: #ffffff;
  font-weight: 550;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0,0,0,0.7);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.site-icons{
  color: #ffffff;
}

.video-full{
  z-index: 101;
  width: 100%;
  min-width: 100%;
  clear: both;
}
/* Section
 */

 .section-edificio{
 width:100%; margin-top:0px;  
 }
.div-image{width:100%;
 margin-left:0px!important;
 }
 /* img {position: relativewidth: 65%!important;
  position: absolute;
  left: 50%;
  margin-left:-256px;
} */
.li-icon-estilo{
  font-size: 12px!important;color:white;margin-bottom: 0px!important;
}
.slide-style{
  height:400px;width:100%; margin-top:0px;margin-bottom: 50px!important;;
}
.caixa-texto{
  padding-top:20px;padding-bottom:20px;
}
.form-edificio{
  margin-left: 20px;margin-top:20px;margin-bottom:20px; padding-left:40px; border:1px solid white!important;
}
.label-form{
  font-weight:bold; color: #475764; font-size:12px;
}
.label-tel{
  font-weight:bold; color: #41698a; font-size:12px;
}
.btn-estilo{
  margin-top:10px;font-weight:bold; border-radius:0px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  }

  .button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #b37700!important;
  }

  .button1:hover {
  background-color: #b37700;
  color: white!important;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;

  background-image: none;
  }

  .carousel-control-next-icon:after
  {
  /* content: '>'; */
  font-size: 55px;
  /* color: rgb(77, 76, 76); */
  }

  .carousel-control-prev-icon:after {
  /* content: '<'; */
  font-size: 55px;
  /* color: rgb(77, 76, 76); */
  }
  div.back_image{
    background-image: url("img/Textura2.png")!important;
    background-position: top left!important;
    background-repeat: repeat-x!important;
    background-size: initial!important;

  }

 

  .img-institucional{
    width:100%!important;}

  .img-familia-unida{
    margin-left:0px;height: 400px!important;  
  }
  .img-familia-casasilvestre{
    margin-top: 42px;margin-left: 50px;
  }

  .img-suite{
    margin-left:0px;height: 620px!important; 
  }

  .img-slide-responsive{
    width:1100px!important;margin-left:0px; 
  }

  .slide-inicial-responsive{
    padding-left: 150px!important;padding-bottom: 0px!important;padding-top: 100px;
  }

  .section-banner-inicial{
    height:800px;
  }
  .carousel-banner-inicio{
    width: 100%; padding-bottom: 100px;
  }
  .img-predio{
    width: 108.1%;
  }
  .logo-rsponsive-rodape{
    width:55%!important; margin-top: 5px;margin-bottom: 5px;
  }
  .div-responsive-inicio{
    margin-top: 80px!important;background-color: #404040;
  }
  .texto-banner-inico{
    color: #fff!important;
  }
  .div-txt-responsive{
    padding-top: 100px;
  }
  .edificio2-responsive-ini{
    height:800px;
  }
  .img-back-responsive{
    width: 80%; border-right:1px  #ffffff;
  }
  .border-back{
    border-right:1px solid #ffffff;
  }
  .mapa-responsive{
    width: 1100px;
  }
  .small-edific{
    width: 185px;
    margin-left: 5px;
  }

  .display-hidden{
    display: none;
    visibility: visible;
  }
  /* width: 185px;
    width: 185px;
    width: 185px;
    width: 185px;
    width: 185px;
    width: 185px;
    width: 185px; */
  @media(min-width:992px) and (max-width:1199px){
    .img-institucional{
      width:100%!important;height: auto;
    }
  
  .img-predio{
    width: 85.1%;
  }
  .edificio2-responsive-ini{
    /* height:350px; */}

    .mapa-responsive{
      width: 900px!important  ;
    }
    .small-edific{
      width: 185px;
      padding-left: 5px!important;
    }
    .display-hidden{
      display: none;
      visibility: visible;
    }
  }
  @media(min-width:768px) and (max-width:992px){
    .img-institucional{
      width:100%!important;height: auto;
    }
    .img-familia-unida{
      width: 700px!important; height: 550px!important;
    }
 
  .img-predio{
    width: 80%;
  }
  .logo-rsponsive-rodape{
    width:25%!important; margin-top: 5px;margin-bottom: 5px;
  }
  .edificio2-responsive-ini{
    /* height:350px; */
  }
  .mapa-responsive{
    width: 700px!important  ;
  }
  .small-edific{
    widows: 380px!important;
    padding-left: 5px!important;
    padding-top: 5px!important;
    
  }
  }
  @media(min-width:576px) and (max-width:768px){
    .img-institucional{
      width:100%!important;height: auto;
    }
    .img-familia-unida{
      width: 500px!important; height: 350px!important;
    }
    .img-familia-casasilvestre{
      margin-top: 42px;margin-left:0px!important;
      width: 400px!important;
    }
    .img-suite{
      margin-left:0px;height: auto!important;
      width: 500px; 
    }
    .img-slide-responsive{
      width:500px!important;margin-left:0px; 
    }
    .slide-inicial-responsive{
      padding-left: 20px!important;padding-bottom: 0px!important;padding-top: 50px;width: 500px!important;
    }
    .section-banner-inicial{
      height:350px;
    }
    .edificio2-responsive-ini{
      height:350px;
    }
    
    .img-predio{
      width: 75%;
    }
    .mapa-responsive{
      width: 580px!important  ;
    }
    .small-edific{
      width: 500px;
      padding-top: 5px!important;
    }
  }
 
  @media(min-width:320px) and (max-width:576px){
    .img-institucional{
      width:320px!important;height: auto;
    }
    .img-familia-unida{
      width: 400px!important; height: 250px!important;
    }
    .img-familia-casasilvestre{
      margin-top: 42px;margin-left:0px!important;
      width: 300px!important;
    }
    .img-suite{
      margin-left:0px;height: auto!important;
      width: 320px; 
    }
    .img-slide-responsive{
      width:380px!important;margin-left:0px; 
    }
    .slide-inicial-responsive{
      padding-left: 20px!important;padding-bottom: 0px!important;padding-top: 50px;width: 320px!important;
    }
    .section-banner-inicial{
      height:350px;
    }
    .edificio2-responsive-ini{
      height:350px;
    }
    .img-predio{
      width: 45%;
    }
    .logo-responsive-inicio{
      margin-top: 20px!important; margin-left: 20px!important;background-color: #404040;height: auto;
    }
    .div-responsive-inicio{
      margin-top: 0px!important;background-color: #404040;
    }
    .texto-banner-inico{
      color: #fff!important;
      font-size: 24px;
      margin-left: 35px;
      margin-top: 0px;
    }
    .div-txt-responsive{
      padding-top: 30px;
    }
    .img-back-responsive{
      width: 50%; 
    }
    .border-back{
      border-right:0px solid #ffffff;
      border-bottom:1px solid #ffffff;
    }
    .img-back-responsive2{
      width: 50%;
    }
    .header-site1{
      background-image: url(img/parallax3blur.jpg)!important;
    }

    .mapa-responsive{
      width: 350px!important  ;
    }
    .small-edific{
      width: 350px;
      padding-top: 5px!important;
    }
  }
  @media(min-width:150px) and (max-width:319px){
    .img-institucional{
      width:320px!important;height: auto;
    }
    .img-familia-unida{
      width: 200px!important; height: 150px!important;
    }
    .img-familia-casasilvestre{
      margin-top: 42px;margin-left:0px!important;
      width: 200px!important;
    }
    .section-banner-inicial{
      height:150px!important;
    }
    .edificio2-responsive-ini{
      height:150px!important;
    }
    .img-slide-responsive{
      width:200px!important;margin-left:0px; 
    }
    .slide-inicial-responsive{
      padding-left: 10px!important;padding-bottom: 0px!important;padding-top: 10px;width: 320px!important;
    }
    .carousel-banner-inicio{
      width: 100%!important ; padding-bottom: 10px!important;
    }
    .img-predio{
      width: 30%;
    }
    .div-responsive-inicio{
      margin-top: 10px!important;background-color: #404040;
    }
    .logo-responsive-inicio{
      padding-top: 0px!important;background-color: #404040;height: 200px;
    }
    .mapa-responsive{
      width: 200px!important  ;
    }
    .small-edific{
      width: 180px;
      padding-top: 5px!important;
    }
  }
  /* @media(min-width:992px) and (max-width:1100px){
    .img_institucional{
      width:900px!important;margin-left:0px;v
    }
  }
  @media(min-width:768px) and (max-width:992){

  }
  @media(min-width:576px) and (max-width:768px){
  
    
  }
  @media(min-width:320px) and (max-width:576px){
  
  }
 */