*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



body{
    
    transition: 0.6s linear;
}

.product-card{
    width:1200px ;
    background: rgba(200, 200, 200, 0.2);;
    padding: 40px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
 
}
.product-card h1{
    font-size: 22px;
    margin-bottom: 4px;
}
.product-card p{
    font-size: 13px;
    color: #bbb;
}
.product-pic{
    background-image:url(../img/adidas1.png);
    background-size: 80%!important;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position:center ;
    transition: .6s Linear;
}
.product-colors{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.product-colors span{
    width: 14px;
    height: 14px;

    margin:0 10px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.blue{
    background:#002e4d;
}
.green{
    background: #134d00;
}
.yellow{
    background: #4d3d00;
}
.rose{
    background: #4d001f;
}
.product-colors .active:after{
    content: "";
    width: 22px;
    height: 22px;
    border: 2px solid #8888;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -4px;
    top: -4px;
}
.product-info{
    display: flex;
    align-items: center;
}
.product-price{
    margin-left: auto;
    color: #7ed6df;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 20px;
    transition: scale(1.6s);
}