@import "hexagon";

.pink-badge {
  .hexagon(34px, #f8d);
}

.play-link {
  .hexagon(44px, #6d5);
  & a:hover {
    .hexagon-changecolor(#2b6);
    .box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5)  {
      -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
      -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
      box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
      // .titi {
      //   .box-shadow(5px, 5px, 6px, 0.3);
      // } 
    }
  }
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

/* Implementation */
.titi {
  .box-shadow(5px, 5px, 6px, 0.3);
} 