<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="carousel slide" id="myCarousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#myCarousel">
            </li>
            <li data-slide-to="1" data-target="#myCarousel">
            </li>
            <li data-slide-to="2" data-target="#myCarousel">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <%= image_tag 'image_1.jpg' %>
            </div>
            <div class="item">
                <%= image_tag 'image_2.jpg' %>
            </div>
            <div class="item">
                <%= image_tag 'image_3.jpg' %>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myCarousel").carousel({
                interval : 7000,
                pause: false
            });
        });
    </script>
</body>
</html>